.item {
  position: relative;
  overflow-x: auto;
  padding: 0 16px;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.item::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
.item {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.item::before,
.item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background: #2f2f37;
  width: 100%;
  height: 0.5px;
}
.item::after {
  top: unset;
  bottom: 0;
}

.item.top::before,
.item.top::after {
  height: 1px;
}
.item.bottom::before {
  height: 1px;
}
.item.bottom::after {
  content: none;
}

.item__element {
  position: relative;
  background: none;
  /* width: calc(100% + 130px); */
  padding: 16px;
  /* padding-right: 130px; */
}

.delete__icon {
  display: flex;
  cursor: pointer;
}
.delete__icon svg path {
  transition: fill 0.1s;
}
.delete__icon:hover svg path {
  fill: #f2f2f3;
}

.delete__icon_mobile {
  position: absolute;
  top: 0;
  right: -130px;
  background: red;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1;
}
.delete__icon_mobile svg {
  transform: scale(1.3);
}

.drag__icon {
  position: absolute;
  top: 50%;
  left: -13px;
  transform: translate(-100%, -50%);
}
.drag__icon_mobile {
  transform: translate(100%, -50%);
}

.drop__target {
  transition: box-shadow 0.1s, background 0.1s;
}
.drop__can {
  box-shadow: 0px 2px 0px #4c4cff inset, 0px -2px 0px #4c4cff inset,
    2px 0px 0px #4c4cff inset, -2px 0px 0px #4c4cff inset;
}
.drop__hover {
  background-color: #4c4cff;
}
.empty__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
