.section {
    position: relative;
    width: 100%;
    height: calc(100vh - 128px);
    overflow-y: overlay;
}

.section::-webkit-scrollbar-track {
    margin-bottom: 40px;
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media (orientation: portrait), (max-width: 1150px) {
    .section {
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;
    }
    .section::-webkit-scrollbar {
        display: none !important;
    }
}
